@charset "UTF-8";
/* CSS Document */
			  
				  
 
	
	/* Standard CSS -------------------------------------------
	-----------------------------------------------------------*/
body {
	background-image: url("../images/bg.png");
}

.goBack a {
	padding: 10px 15px 10px 15px;
	color: white;
	font-weight: bolder;
	background-color: #77A2FF;
	margin-bottom: 20px;
}

	#container {
		width: 1200px;
	    margin: 0 auto;
	    text-align: center;
	    font-family: 'Didact Gothic', sans-serif;
			border: 3px #1779ba solid;
			background-color: white;
	    margin-top: 50px;
			margin-bottom: 40px;
	 
	}

	.link {
		color: #1779BA;
		font-weight: bolder;
	}


	.hidden {
		display: none;
	}	

	.fullWidth {
	  width: 100%;
	}

	.row {
	  margin: 0 0 0 0;
	  max-width: 100%;
	}

	.title {
	  color: black;
	  text-transform: uppercase;
	  font-weight: bolder;
	  margin-top: 20px;
	  margin-bottom: 0px;
	}

	.subTitle {
		  margin-bottom: 20px;
		  margin-top: 0px;

	}

	.recentWork {
		margin-bottom: 30px;
	}

	

	.banner {
		width: 100%;
	}

	.small-12 {
		margin-bottom: 20px;
	}

	.animation iframe {
		width: 100%;
		height: 450px;
	}



/* Navigation -------------------------------------------
	-----------------------------------------------------------*/
	
.navigationHeader {
	text-align: center;
	background-image: url("../images/headerBG.png");
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
}

.navigationHeader .navigationLogo {
  color: #fefefe;
  font-family: 'Anton';
  letter-spacing: 6px;
	padding-bottom: 20px;

	margin-bottom: 30px;
	width: 300px;
}

.nav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

.nav li {
  float: none;
  display: inline-block;
}

.nav li a {
  padding: 0.9rem 1rem;
  font-size: 0.95rem;
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  font-weight: bolder;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.nav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.nav li a:hover {
  background: rgba(254, 254, 254, 0.15);
}

/* Index / About Me ------------------------------------
-----------------------------------------------------------*/

.about {
	margin-top: 40px;
}
.john {
	width: 300px;
}

.intro {
	margin-top: 30px;
	padding: 10px;}

.intro h2 {
	margin-top: 50px;
	font-size: 40px;}

.intro p {
	font-size: 30px;
	margin-top: 0px;
}

.about i {
	color: #7CA7FF;
	font-size: 300px;
}

.icons ul li i {
	font-size: 180px;
}

.icons ul li p {
	font-size: 20px;
	margin-top: 15px;
}

.icons h2{

	margin-top: 20px;
	margin-bottom: 20px;

}

.aboutSection {
	padding: 20px;
}

progress {
	width: 90%;
	}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  height: 40px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #7CA7FF;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}




/* Portfolio -------------------------------------------
-----------------------------------------------------------*/
.title {
	margin-top: 50px;
}

.subTitle {
	font-size: 20px;
	width: 90%;
	margin: 0 auto; 
	text-align: center;
	margin-bottom: 40px;
}

.designWork  {
	width: 90% !important;
	text-align: center;
	margin: 0 auto;
}

.designWork p {
	font-size: 20px;
}

.designWork hr {
	border: 2px solid #73a7ff47;
}


/* Contact -------------------------------------------
-----------------------------------------------------------*/

.contactDiv {
	text-align: center;
}

.submit-button {
	display: inline-block;
	margin-bottom: 40px;
	padding: 15px 25px;
	width: 100%;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-image: url("../images/headerBG.png");
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #2e98df;

}

.submit-button:hover {
	background-color: #04548a;
}

.submit-button:active {
  background-color: #1779ba;
  box-shadow: 0 5px #2e98df;

  transform: translateY(4px);
}
	
/* Footer -------------------------------------------
-----------------------------------------------------------*/



footer {
	background-image: url("../images/headerBG.png");
  bottom: 0;

}


footer li {
	color: white;
	display: inline-block;
	margin: 10px;
}

footer i {
	  color: white;
	   font-size: 1.3rem;
}

footer ul {
	margin: 0;
}

/* footer .fab:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
} */



/* Picture Modal
------------------------------------------ */

#caption {
	font-size: 2rem

}

.thumbnails {
	background-color: black;
}

.row .row {

	margin: auto 0;
	padding: 25px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}


.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.mySlides {
  display: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}




	
	
	
	
	/* Media Queries -------------------------------------------
	-----------------------------------------------------------*/



	@media screen and (min-width: 320px) and (max-width: 640px) {
			  
	  .icon {
		  padding: 10px;}

	  header h2 {
	  	font-size: 40px;
	  }

	  	header p {
			font-size: 20px;
		}

		.masks {
			margin-bottom: 20px;
		}

			.animation iframe {
		width: 100%;
		height: 280px;
		padding: 10px;
	}

		

		  }


			

@media screen and (min-width: 641px) and (max-width: 1025px) {
		
	   .icon {
		  width: 160px;
		  padding: 10px;
		}

		article {
			height: 300px;
		}

		header h2 {
			font-size: 35px;
		}

}

@media screen and (min-width: 1026px) and (max-width: 1326px) {


	header h2 {
			font-size: 40px;
		}

	}

	@media screen and  (max-width: 1226px) {
		#container { 
			width: 95%;
		}

	}
		
	
	 
	
	
	        
	